@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    background-image: url('../images/Transformersbg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Audiowide', cursive;
}

header {
    background-color: rgba(221, 32, 32, 0.75);
}

h1 {
    font-size: 3.4em;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;;
}

.center {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.startSection {
    position: relative;
    top: 150px;
    visibility: visible;
}

#startBtn {
    width: 200px;
    height: 100px;
    font-size: 4em;
    box-shadow: -2px 5px 1px black;
}

.timerSection{
    background-color: red;
}

.panel {
    background-color: red;
    font-size: 1.5em;
}

#question {
    border: 10px solid red;
    border-bottom: 20px solid lightgray;
    background-color: aqua;
}

#answers {
    width: 50%;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ansers div {
    background-color: lightgray;
}

#answers div:nth-child(even) {
    box-shadow: 0px 1px 1px black;
}

#answers div:hover {
    background-color: #fff;
    font-size: 1.5em;
}

#results {
    background-color: greenyellow;
    border: 10px solid rgba(149, 144, 144, 0.84);
    color: rebeccapurple;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    position: relative;
    width: 100%; 
}